.pageInfo {
  text-align: center;
  margin-top: 40px;
}

.arrayList {
  margin-left: 600px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.arrayButton {
  text-align: center;
}

.ToggleButton {
  width: 340px;
}

.product {
  text-align: center;
  margin-top: 60px;
}