.pageInfo {
  margin-left : 300px
}

.portfolioInfo {
  text-align: center;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.portfolioPrice {
  text-align: center;
}

.designerPortfolio table {
  width: 650px;
  height: 350px;
  margin: auto;
  border-collapse: collapse;
}

.designerPortfolio th, td {
  width: 25%;
  height: 16.7%;
}

.designerPortfolio table th,
.designerPortfolio table td {
  border: 1px solid black;
}

.designerPortfolio table th:first-child,
.designerPortfolio table td:first-child {
	border-left: 0;
}

.designerPortfoliotable th:last-child,
.designerPortfolio table td:last-child {
	border-right: 0;
}

.buttonProductPage {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 50px;
}