@keyframes gradientAnimation {
  0% {
    background: linear-gradient(to right, #374D9A, #415AB4);
  }
  16.7% {
    background: linear-gradient(to right, #374D9A, #4B64BE);
  }
  33.3% {
    background: linear-gradient(to right, #374D9A, #5A71C4);
  }
  50% {
    background: linear-gradient(to right, #374D9A, #697EC9);
  }
  66.7% {
    background: linear-gradient(to right, #374D9A, #788BCE);
  }
  83.3% {
    background: linear-gradient(to right, #374D9A, #8798D4);
  }
  100% {
    background: linear-gradient(to right, #374D9A, #96A5D9);
  }
}

.Login {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  animation: gradientAnimation 0.5s linear 1 forwards;
  background: #374D9A;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.rectangle {
  display: flex;
  margin-bottom: 20px;
}

.logo {
  display: flex;
  color: #000000;
  margin-bottom: 30px;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-right: 10px;
}

.tab.active {
  background-color: #000000;
  color: #ffffff;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginInputs label{ 
  color: white;
  font-weight: bold;
}

.loginInputs {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 10px;
}

.loginButton {
  display: flex;
  margin-bottom: 10px;
}

.loginButton button {
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
  width: 300px;
}

.findButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
}

.loginInputs input {
  padding: 8px;
  border-radius: 15px;
  border: 1px solid #374D9A;
  margin-left: 5px;
}

.findButtons button {
  padding: 10px;
  cursor: pointer;
  border-radius: 15px;
}