.purchaserOrderReformProduct {
  overflow-x: hidden;
}

.purchaserOrderReformProduct hr {
  width: 50%;
}

.purchaserOrederedProduct {
  position: relative;
  left: 25%;
}

.purchaserOrederedProduct h5 {
  width: 50%;
  background-color: #374d9a;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
}

.purchaserOrederedProduct p,
.purchaserReformedProduct p {
  display: flex;
  font-size: 1.2em;
}

.purchaserOrederedProduct img,
.purchaserReformedProduct img {
  margin-left: 17.5%;
  width: 15%;
  max-width: 15%;
}

.purchaserReformedProduct {
  position: relative;
  left: 25%;
}

.purchaserReformedProduct h5 {
  width: 50%;
  background-color: #374d9a;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -10px;
}

.OrderedBTN {
  background: #374d9a;
  color: white;
  width: 100px;
  height: 25px;
  line-height: 3px;
  border-radius: 10px;
  margin-left: 10px;
}

.OrderedMoreBTN {
  background: #374d9a;
  color: white;
  width: 200px;
  height: 25px;
  line-height: 3px;
  border-radius: 10px;
  margin-left: 37%;
}

.UserCorrection button{
   background: #374d9a;
  color: white;
  width: 400px;
  height: 75px;
  line-height: 3px;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 40%;
}

.purchaserOrderReformProduct h1 {
  font-size: 3em;
}

.purchaserOrderReformProduct h4 {
  font-size: 2em;
}

@media screen and (max-width: 720px) {
  .purchaserOrederedProduct p {
    display: flex;
    font-size: 0.4em;
  }

  .purchaserOrederedProduct h5 {
    font-size: 0.6em;
  }

  .OrderedBTN {
    background: #374d9a;
    color: white;
    width: 50px;
    height: 12.5px;
    border-radius: 10px;
    margin-left: 10px;
  }

  .purchaserReformedProduct p {
    font-size: 0.4em;
    position: relative;
    top: -75px;
    left: 80px;
  }

  .purchaserReformedProduct h5 {
    font-size: 0.6em;
  }

  .purchaserOrderReformProduct h1 {
    font-size: 1em;
  }

  .purchaserOrderReformProduct h4 {
    font-size: 0.6em;
  }
}
