h3 {
text-align: center;
}

/* 위 아래 구분선*/
.SignUp1 {
margin-left: 300px;
margin-right: 300px;
padding-top: 10px;
padding-bottom: 10px;
border-top : 1px solid grey;
border-bottom : 1px solid #808080;
}

/* 위만 구분선*/
.SignUp2 {
margin-left: 300px;
margin-right: 300px;
padding-top: 10px;
padding-bottom: 10px;
border-top : 1px solid grey;
}

/* 회원가입 라벨 위치 조정 */
.SignUp3 {
text-align: left;
padding-left: 20px;
padding-right: 200px;
}

/* 회원 구분 스팬 조정*/
.SignUp4 {
padding-right: 90px;
}

/* 기본정보 텍스트 위치 */
.SignUp5 {
margin-left: 300px;
}

/* 주소 가운데 정렬*/
.SignUp6 {
text-align: center;
}

/* 가입하기 버튼 */
.Submit-button {
text-align: center;
margin-top: 100px;
}