.loginMenu {
  display: flex;
  margin-left: 70%;
}

.loginMenu p {
  margin-right: 20px;
}

.topBarMenu {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 60%;
}

.topBarMenu p {
  font-size: 1.3em;
}

@media screen and (max-width: 720px) {
  .loginMenu {
    margin-left: 10%;
  }

  .topBarMenu {
    margin-left: 10%;
  }

  .loginMenu p,
  .topBarMenu p {
    margin-left: 5%;
  }

  .topBarMenu p {
    font-size: 0.5em;
  }
}
