.App {
   text-align: center;
 }
 
 .MenuBar{
   width: 100%;
   height: 100%;
   line-height: 100%;
   display: flex;
   flex-direction: row;
   margin-bottom: 2%;
   margin-left: 25%;
 }
 
 .loginMenu{
   display: flex;
   text-align: center;
   justify-content:flex-end;
   margin-right: 1%;
 }
 
 .menu{
   margin-right: 1%;
   font-size: 120%;
   font-family: 'Gowun Batang', sans-serif;
   font-weight: 500;
   margin-left: 1%;
 }
 
 .logo {
   margin-right: 150px;
   width: 50px;
   height: 50px;
   background-color: #6AD8A0;
 }
 
 .App-header {
   background-color: #282c34;
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-size: calc(10px + 2vmin);
   color: white;
 }
 
 .App-link {
   color: #61dafb;
 }
 
 @keyframes App-logo-spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
 }